.input-container {
    width: 100%;
    margin-bottom: 10px;
    label {
        width: 75px;
        display: block;
        flex-shrink: 0;
    }
    input {
        display: block;
        /* width: calc(100% - 80px); */
        flex: 1;
    }

}

.input-group {
    margin-bottom: .25rem
}


.input-group.item1 {
    display: flex;
    justify-content: space-between;

    .item1-child1,
    .item1-child2 {
        display: flex;
    }
    
}

.input-group.item2 {
    display: flex;
}

.input-group.item3 {
    display: flex;

    textarea {
        width: 100%;
        resize: none;
        padding: 10px;
    }
}